@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Lobster', cursive;
    animation: fadein 3s;
    max-width: 100vw;
    min-width: 250px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color:#111a28;
    color: #fff;
    
}

.heading {
    font-weight: 700;
    font-size: 60px;
    
}


.heading__title{
    color: #00cf5d;
}

.heading__title::selection {
    color: #ffffff;
}


/* Smooth animation while opeing new tab */
@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Change Text Selection Color */
::selection {
    background: #00cf5d;
}


/* Styles for Time Format */

.time-area {
    font-size: 50px;
    text-align: center;
    font-weight: bold;
}

#date {
    color: #00cf5d;
    font-size: 20px;
    font-weight: 100;
    font-style: italic;
}

/* Google Search Form */

.form {
    margin-top: 5px;
}

.form__input {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #101c33;
    border-radius: 5px;
    color: #fff;
    border-bottom: 3px solid #223965;
    transition: all .3s linear;
}

.form__input:focus {
    outline: none;
    border-bottom: 3px solid#00cf5d;
}

input::-webkit-input-placeholder{
    color: white;
}

.form__label {
    display: block;
    margin-left: 1rem;
    margin-top: .7rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all .3s;
    font-style: italic;
    font-family: initial;
    letter-spacing: 2px;
    color: #00cf5d;
}



.form__input:placeholder-shown +.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-1.2rem);
}